# Copy this file to terraform.tfvars and customize

aws_region         = "eu-west-1"
cluster_name       = "sample-eks-cluster"
vpc_cidr           = "10.0.0.0/16"
node_instance_type = "t3.medium"
desired_capacity   = 2
min_capacity       = 1
max_capacity       = 3
